@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;            
}
body {
    background-color: black;
    color: white;
   }

#foto {
    height: 250px;            
    background: url('imagens/perfil.jpg') center top;
    background-size: cover;            
    border-radius: 40px 40px 40px 0px;
    border: 4px solid rgb(9, 212, 9);      
    width: 150px;
    height: 150px;
    margin: 20px auto 0px auto;               
}
#nome {
    text-align: center;
    padding: 20px;
    color: rgb(9, 212, 9);
    border-bottom: 2px solid gray;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.5em;   
}
h1:hover{
    color: yellow;
}
#carreira {
    margin: auto;
    padding: 20px 0px 0px 20px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

#conteudo1{
    max-height: 350px;
    max-width: 600px;
    min-width: 400px;   
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    line-height: 23px;
    font-family: 'Inconsolata', monospace;  
}

.strong{
    font-size: 1.3em;
}
 
article{
   list-style-position: inside;
   columns: 2;
   display: fixed;
}

h3 {
    padding-top: 10px;
    font-family: 'Inconsolata', monospace;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:rgb(9, 212, 9);
    text-decoration: underline;
}
       
p{
    font-family: 'Inconsolata', monospace;
}
footer{
    height: 80px;
    clear: both;
    text-align: center;
    border-top: 2px solid gray;
    padding: 10px;
}
#creditos{
    padding-top: 3px;
}